/* style.css */

/* Resets */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a  {
    text-decoration: none;
}

/* General */

:root {
    --border:rgb(243, 196, 205);
    --title: cadetblue;
    --code: steelblue;
    --codebackground: whitesmoke;
    --codeborder: lightgrey;
    --link: sienna;
    --linkhover: white;
    --flexborder: rosybrown;
    --flexbackground: cornsilk;
    --strong: rgb(108, 133, 119);
    --extranote: olive;
    --js-border: rgb(219, 234, 247);
    --gap: 1em;
    --smallgap: 0.25em;
    --biggap: 2em;
}

html {
    max-width: 960px;
    margin: auto;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Barlow', sans-serif; 
    line-height: 1.4;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Fonts and alignings */

h1, h2, h3, h4, h5, h6 {
    color: var(--title); 
    font-weight: bold;
}

h1 {
    padding: var(--smallgap);
    border: 8px double var(--border);
    border-radius: 20px;
    text-align: center;
}

h2 {
    padding: var(--gap);
    text-decoration: underline;
    text-align: center;
}

h3,
h4 {
    text-decoration: underline;
}

a {
    color: var(--link);
}

strong {
    color: var(--strong);
}

.alert {
    color: var(--extranote);
}

hr {
    border: 3px solid var(--border);
    margin: var(--biggap) 0 var(--gap);
}

/* Index Flexbox */

.index-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    margin: var(--gap) 0;
}

.index-card {
    flex: 1 0 300px;
    display: flex;
    flex-direction: column;
    padding: var(--gap);
    border: 8px double var(--border);
    border-radius: 20px;
}

.index-card-body {
    flex: 1;
}

.index-card-section {
    margin: var(--gap) 0;
}

.index-card-footer {
    margin: var(--gap) auto 0;
    color: var(--border);
    font-size: 0.9em;
    font-style: italic;
}

.index-card h3 {
    text-align: center;
}

.index-card ul {
    margin: 0;
    padding-left: var(--biggap);
}

/* Coding Font */ 

code,
.titlecode,
.incode,
.js-table {
    font-weight: 500;
}

code,
.incode,
.js-table,
.js-box {
    color:var(--code);
}

code,
.incode,
.js-table,
.js-box,
.titlecode,
.codebox {
    font-family: 'Fira Mono', monospace;   
}

code,
.incode,
.js-table,
.js-box,
.codebox {
    font-size: 0.9em;
}

.titlecode {
    display: inline-block;
    background-color: var(--codebackground);    
    padding: 0 0.4em;
    border: 1px var(--codeborder) solid;
    border-radius: 3px;
}

code {
    padding: 0 0.3em;
}

/* Boxes */

.codebox {
    padding: 1em;
    border: 2px solid var(--border);
    border-radius: 5px;
    margin: 1em auto;
    max-width: 800px;
}

.js-box {
    padding: 0 1em;
}

.js-box,
.js-table {
    border-left: solid 2px var(--js-border);
}

.img {
    display: block;
    margin: 40px auto;
    height: auto;
    width: 400px;
}

/* Tabs */

.tab {
    margin-left: 1.5em;
}

/* Tables */

table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

table,
.js-table {
    margin: var(--gap) 0;
    border-spacing: var(--biggap) var(--smallgap);
}

.js-table tbody tr :nth-child(2) {
    color: var(--title);
    padding-left: var(--gap);
}

th {
    color: var(--title);
}

/*
td {
    font-weight: 500;
    text-align: left;
}

.center,
.center-c1 tbody tr :nth-child(1),
.center-c2 tbody tr :nth-child(2),
.center-c3 tbody tr :nth-child(3),
.center-c4 tbody tr :nth-child(4) {
    text-align: center;
}*/

.plainlist {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* Horizontal Listing */

.listbar {    
    padding: 0;
    margin: 10px 0 20px;
}

.listbar li {
    display: inline-block;
    width: 8em;
}

/* Navigation */

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin: 5px 0;
}

.nav-button:link, 
.nav-button:visited,
.nav-button-rev:link,
.nav-button-rev:visited {
    font-weight: bold;
    padding: 0.2em 0.7em;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    width: fit-content;
    border: 3px solid var(--border);
}

.nav-button:link, 
.nav-button:visited {
    background-color: var(--border);
    color: var(--linkhover);
}

.nav-button:hover,
.nav-button:active,
.nav-button-rev:link,
.nav-button-rev:visited {
    background-color: var(--linkhover);
    color: var(--border);
}

.nav-button-rev:hover,
.nav-button-rev:active {
    background-color: var(--border);
    color: var(--linkhover);
}

/* CSS Notes: Flexboxes */

.css-container,
.css-flex-container,
.css-h160-container, 
.css-gap-container {
    padding: 3px;
    border: 3px solid var(--flexborder);
    margin: 20px;
}

.css-flex-container {
    display: flex;
}

.css-h160-container {
    display: flex;
    height: 160px;
}

.css-gap-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.css-container div,
.css-flex-container div,
.css-h160-container div,
.css-gap-container div {
    padding: 5px;
    border: 3px solid var(--title);
    background-color: var(--flexbackground);
}

.css-container div {
    margin: 5px;
}

.css-flex-container div {
    flex: 1;
    margin: 5px;
}

.css-h160-container div,
.css-gap-container div {
    width: 130px;
    height: 60px;
}

/* CSS Notes: Font used inside flexboxes */

.giant,
.semigiant {
    color: var(--title);
    font-weight: bold;
    text-align: center;
}

.giant {
    font-size: 2em;
}

.semigiant {
    font-size: 1.3em;
}

/* CSS Notes: Navigation bar, still not working properly */

.links-list a {
    background-color: var(--flexbackground);
    text-decoration: none;
    padding: 1em 2em;    
    display: inline-block;
}
    
.links-list a:hover {
    background-color: var(--border);
}

