/* style.css */

html {
    font-size: 16px;
    font-family: 'Barlow', Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
    
h1, 
h2,
h3,
h4,
h5,
h6 {
    color: cadetblue; 
    font-weight:bold;
}

h1 {
    background-color: pink;
    text-align: center;
}

.mainbox {
    font-size: 1.4em;
    font-weight: bold;
}


.img {
    display: block;
    margin: auto;
    height: auto;
    width: 400px;
}

.tab {
    margin-left: 1.5em;
}

/* Coding font, inline code, and code box */ 

code,
.incode {
    color: steelblue;
    font-weight: bold;
}

code,
.incode, 
.codebox {
    font-family: 'IBM Plex Mono', monospace;   
    margin: 0 0.3em;
}

.mainbox,
.codebox {
    padding: 1em;
    border: 1px solid pink;
    margin: 1em auto;
    display: inline-block;
}

code.title {
    text-decoration: underline;
    font-weight: bold;
}

/* Horizontal Listing */

.listbar {    
    padding: 0;
    margin: 10px 0 20px;
}

.listbar li {
    display: inline-block;
    width: 8em;
}

/* Others */    

.alert {
    color: olive;
}

.back {
    font-weight: bold;
    text-align: center;
}

/* Navigation bar, still not working properly */

.links-list a {
    background-color: lightyellow;
    text-decoration: none;
    padding: 1em 2em;    
    display: inline-block;
}
    
.links-list a:hover {
    background-color: lavenderblush;
}